.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    border-radius: 6px;
    border: 1px white solid;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    height: 2rem;
    padding: 0.5rem;
}

.collapseButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
}
