.tabButton {
    padding: 6px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    color: #444
}

.tabButton.active {
    flex-shrink: 0;
    padding-right: 38px;
    background-color: #DD9900;
    color: #000;
}

.tab {
    padding: 0;
    height: 40px;
    position: relative;
}

.tabClose {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 6px;
    right: 5px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
}

.tabClose:hover {
    background-color: red;
}
